.author__avatar {
  width: 180px !important;
  height: 180px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  display: block;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.page__footer {
  display: none;
}

.author__urls-wrapper {
  display: block !important;
}

.author__urls {
  display: block !important;
  max-height: none !important;
  opacity: 1 !important;
  transition: none !important;
}

.author__urls-toggle {
  display: none !important;
}
