.author__avatar {
  width: 180px !important;
  height: 180px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  display: block;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}
